body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fde2e4;
    color: #6b5b95;
    font-family: 'Arial', sans-serif;
}

.game-title {
    font-size: 24px;
    margin-bottom: 30px;
}

.game-container {
    position: relative;
    width: 80vw; /* 80% of the viewport width */
    height: 80vw; /* 80% of the viewport width */
    max-width: 600px; /* Maximum width for larger screens */
    max-height: 600px; /* Maximum height for larger screens */
    background-color: #fcf7f8;
    border: 10px solid #edbbcb;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.snake-head, .snake-body, .food {
    position: absolute;
    width: 5%; /* Adjust size based on the container width */
    height: 5%; /* Adjust size based on the container width */
    border-radius: 50%;
}

.snake-head {
    background-color: #feb2a8;
    animation: pulse 0.5s infinite alternate;
}

.snake-body {
    background-color: #feb2a8;
}

.food {
    background-color: #7d84b2;
}

@keyframes pulse {
    to {
        transform: scale(1.1);
    }
}

.score-container {
    position: absolute;
    width: 100%;
    bottom: 0%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    .game-title {
        font-size: 18px;
    }

    .game-container {
        width: 90vw;
        height: 90vw;
        max-width: none;
        max-height: none;
    }

    .snake-head, .snake-body, .food {
        width: 8%;
        height: 8%;
    }
}
