@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Russo One', sans-serif;
    background-color: #f6e6f9;
}

.container {
    text-align: center;
}

h1 {
    color: #ff85a2;
    font-size: 40px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #3d3839;
}

#game-box {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #ffffff; /* White background for the game box */
    border: 5px solid #ff85a2; /* Pink border for the game box */
    margin: 20px auto;
}

#game-over {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #3d3839;
}

#restart-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff85a2;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#score-board {
    margin-top: 20px;
    color: #ff85a2;
    font-size: 25px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #3d3839;
}

#score, #high-score {
    font-weight: 5px;
    font-size: 15px;
    color: #3d3839;
}

@media only screen and (max-width: 600px) {
    #game-box {
        width: 90vw;
        max-width: none;
        height: 90vw;
        max-height: none;
    }
}
